<!-- 設定：チャート色 -->
<div class="row">
  <div class="col-xs-5" style="width:39%;">
    <p class="label">グリッド色</p>
  </div>
  <div class="col-xs-2">
    <input id="ColorPickerHigh" class="color-picker gridColor" [(colorPicker)]="chartColorSettings.gridColor" [style.background]="chartColorSettings.gridColor" />
  </div>
  <div class="col-xs-2">
    <button class="button button-low" (click)="returnColorPickerHigh('gridColor')">初期値</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <p class="label">ローソク足</p>
  </div>
  <div class="col-xs-4">
  </div>
</div>


<div class="row">
  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-2 col-indent-1">
        <p>陽線</p>
      </div>
      <div class="col-xs-4">
        <p>塗りつぶし色</p>
      </div>
      <div class="col-xs-2">
        <input id="ColorPickerHigh" class="color-picker" [(colorPicker)]="chartColorSettings.positiveLineFillColor" [style.background]="chartColorSettings.positiveLineFillColor" />
      </div>
      <div class="col-xs-2">
        <button class="button button-low" (click)="returnColorPickerHigh('positiveLineFillColor')">初期値</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 col-indent-1">
        <p>陰線</p>
      </div>
      <div class="col-xs-4">
        <p>塗りつぶし色</p>
      </div>
      <div class="col-xs-2">
        <input id="ColorPickerHigh" class="color-picker" [(colorPicker)]="chartColorSettings.hiddenLineFillColor" [style.background]="chartColorSettings.hiddenLineFillColor" />
      </div>
      <div class="col-xs-2">
        <button class="button button-low" (click)="returnColorPickerHigh('hiddenLineFillColor')">初期値</button>
      </div>
    </div>
  </div>
</div>
