		<!-- Chart area -->
        <div class="row" style="margin-left: 5px; margin-right: 5px;">
          <div class="gmo-no-padding">
            <table class="table">
              <tbody>
                <tr>
                  <td style="height: 40px;" colspan="2">
                    <div>
                      <div class="col-xs-1 button-group gmo-form-list-group"> <a href="#" class="button dropdown-toggle gmo-form-list-button-drop" data-toggle="dropdown">銘柄<span class="caret"></span> </a>
                        <ul class="dropdown-menu" id="eidSymbolControl">
                        </ul>
                      </div>
                      <div class="col-xs-1 gmo-no-padding-right">
                        <p class="gmo-form-list-label">執行区分</p>
                      </div>
                      <div class="col-xs-2 gmo-no-padding-right">
                        <ul class="pagination pagination-sm gmo-form-list-pagination">
                          <li class="active"><a href="#">なし</a></li>
                          <li><a href="#">寄付</a></li>
                          <li><a href="#">引け</a></li>
                          <li><a href="#">指成</a></li>
                        </ul>
                      </div>

                      <!-- Chart type -->
                      <div class="button-group gmo-form-list-group">
                        <a href="#" class="button dropdown-toggle gmo-form-list-button-drop" data-toggle="dropdown">
                          チャートタイプ<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu indicator" id="eidChartTypeMenu">
                        </ul>
                      </div>
                      <!-- -->

                      <!-- Indicator tools -->
                      <div class="button-group gmo-form-list-group">
                        <a href="#" class="button dropdown-toggle gmo-form-list-button-drop" data-toggle="dropdown">
                          指標選択<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu indicator" id="eidIndicatorMenu">
                        </ul>
                      </div>
                      <!-- -->

                    </div>
                  </td>
                </tr>
                <tr>
                  <!-- Line-study tools -->
                  <td rowspan="2" style="width:38px; padding: 8px;">
                    <div class="linestudy" id="eidTLineBoundary">
                    </div>
                  </td>
                  <!-- -->

                  <td>
                    <!-- ////////////////////////////////////////////////////////////////////// -->
                    <!-- Chart body -->
                    <!-- ////////////////////////////////////////////////////////////////////// -->
                    <div id="eidChart_part" class="col-xs-12 gmo-no-padding" style="left:0px; top:0px; width: 100%; height: 500px; background-color: #ff0000;">
                      <div class="classChartWrap" id="idChartWrap" >
                        <div class="classChartArea" id="idChartArea">
                        </div>
                      </div>
                    </div>
                    <!-- ////////////////////////////////////////////////////////////////////// -->
                    <!-- [END] Chart body -->
                    <!-- ////////////////////////////////////////////////////////////////////// -->


                  </td>
                </tr>
                <tr>
                  <td style="height: 40px;">
                    <div id="idChartBottomTools">
                      <div id="idRefreshBtn"		></div>
                      <div id="idMinusBtn" 		></div>
                      <div id="idPlusBtn"			></div>
                      <div id="idShiftLeftBtn" 	></div>
                      <div id="idShiftRightBtn" 	></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="gmo-no-padding" style="float: right; width: 40px; height: 100%; background-color: #ff0000;">
          </div>
        </div>
        <!-- -->