.outer {
  position: relative;
  height: 24px;
  margin-top: 4px;
  .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 168px;
    height: 24px;
  }
}
