<!-- 決済注文 -->
<div class="panel panel-order panel-animate">
  <title-bar [title]="title()" [frame]="this" [hide-max]="true" [title-show]="true" [attr.tabindex]="baseIdx" tab-Index [type]="'Input'"></title-bar>
  <div class="panel-body">

    <div class="process-loading" *ngIf="isLoading">
      <div class="process-loading-bg"></div>
      <div class="process-loading-mark"></div>
    </div>

    <div class="row row-header-name row-header-name-with-order-type">
      <div class="col-xs-12">
        <div class="label label-name label-bright" title="{{productName}}">{{productName}}</div>
        <div *ngIf="buySellType=='1'" class="label label-order sell">売</div>
        <div *ngIf="buySellType=='2'" class="label label-order buy">買</div>
        <i class="svg-icons icon-attention" *ngIf="hasAttentionMessage" title="{{attentionMessage}}"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ask-bid-unit #askbid (changed) = "setOrderPrice($event)"></ask-bid-unit>
      </div>
    </div>

    <div #slider class="carousel slide" data-interval="false">
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <div class="row" >
            <div class="col-xs-12">
              <order-singleMulti #singleMulti (singleMultiEvent)="onSingleMulti()" [singleMultiShow]="singleMultiShow"></order-singleMulti>
            </div>
          </div>
          <settle-input (onErrClick)="onCanvasBoolean()" (onOrderTypeClick)="onOrderTypes()" (onErrorDismiss)="onErrorDismiss()" #settleInput></settle-input>
          <order-sendButton #orderSendButton (onNavButtonClick)="onNavBtnClick('INPUT', $event)"></order-sendButton>
        </div>
        <div class="item">
          <settle-confirm #settleConfirm (onNavButtonClick)="onNavBtnClick('CONFIRM', $event)"></settle-confirm>
        </div>
      </div>
    </div>

  </div>
</div>
