.chart-wrapper-area {
  top:0px;
  height: 40px;

  #idChartWrap {
    position: relative !important;
    background-color: rgba(#fff, 0) !important;
  }

  #idChartArea {
    background-color: rgba(#fff, 0) !important;
  }

  #idChartDrawArea {
    background-color: rgba(#fff, 0) !important;
  }
}
